@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Red+Hat+Display:ital,wght@0,300..900;1,300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url(reset.css);

*{
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-family: "Red Hat Display", sans-serif;
}

:root {
  --primary-pale-blue: hsl(225, 100%, 94%);
  --primary-bright-blue: hsl(245, 75%, 52%);
 
  --neutral-very-pale-blue: hsl(225, 100%, 98%);
  --neutral-desaturated-blue: hsl(224, 23%, 55%);
  --neutral-dark-blue: hsl(223, 47%, 23%);
}

section {
    height: 100vh;
    width: 100vw;
    background-color: var(--primary-pale-blue);
    background-image: url("images/pattern-background-desktop.svg");
    background-repeat: no-repeat;
    background-size: contain;
    display: flex;
    justify-content: center;
    align-items: center; 
}

.card {
    background-color: white;
    width: 28rem;
    justify-content: center;
    border-radius: 18px;
    box-shadow: 3px 3px 40px rgb(0 0 0 / 0.2);
    overflow: hidden;
}

.card-content{
    padding: 50px;
    padding-top: 40px;
    display: flex;
    flex-direction: column;
    text-align: center;
    gap: 30px;
}

.card-header {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.card-title {
    font-size: 28px;
    font-weight: 900;
    color: var(--neutral-dark-blue);
}

.card-description {
    font-weight: 500;
    line-height: 20px;
    padding: 0 20px;
    color: var(--neutral-desaturated-blue);
}

.card-price {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: var(--neutral-very-pale-blue);
    border-radius: 12px;
    gap: 16px;
}

.card-price-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;    
    gap: 6px;
}

.card-price-content p {
    font-size: bold;
    font-weight: 700;
}

.card-price-content span {
    color: var(--neutral-desaturated-blue);
    font-weight: 500;
}

.card-price-button {
    font-size: bold;
    font-weight: 700;
    color: var(--primary-bright-blue);
}

.card-price-button:hover {
    text-decoration: none;
    opacity: .8;
}

.card-button {
    color: white;
    background-color: var(--primary-bright-blue);
    width: 100%;
    padding: 16px;
    margin-bottom: 30px;
    font-size: bold;
    font-weight: 700;
    border: none;
    border-radius: 12px;
    cursor: pointer;
    box-shadow: 10px 20px 10px var(--primary-pale-blue);
}

.card-button:hover {
    opacity: .8;
}

.card-active {
    color: var(--neutral-desaturated-blue);
    background-color: white;
    font-size: bold;
    font-weight: 700;
    cursor: pointer;
}

.card-active:hover{
    color: var(--neutral-dark-blue);
}